.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 80vh;
}

/* Left content */
.left-content {
  display: flex;
  padding-right: 25px;
}

.left-content-img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.left-content-img img {
  width: 500px;
  height: auto;
}

/* Main content */
.main-right-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  flex-direction: column;
  height: 100vh;
}

.right-content {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  padding: 5px;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #FFFFFF;
  margin-top: 50px;
  width: 480px;
  height: 520px;
  border: 1px solid #333;

}

.login input {
  width: 75%;
  padding: 10px;
  height: 55px;
  margin-bottom: 15px;
  border-radius: 5px;
}

.login input[type="button"] {
  background-color: #B2DFFC;
  color: white;
  margin-top: 10px;
  margin-bottom: 25px;
}

.login h1 {
  font-size: 50px;
  margin-bottom: 45px;
}

.login h1,
.login p {}

.facebook {
  display: flex;
  margin: 20px 0px 20px 0px;
}

.login img {
  width: 30px;
  height: 30px;
}

.Singup {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFFFFF;
  margin-top: 35px;
  padding: 25px;
  height: 100px;
  width: 480px;
  text-align: center;
  border: 1px solid #333;
  font-size: 20px;
}

.forgot-password a {
  color: rgb(57, 57, 174);
  font-size: 20px;
}


.apps {
  display: block;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 30px;
}

.apps h2 {
  margin-bottom: 20px;
}

.apps img {
  width: 165px;
  height: 55px;
  padding: 5px;
  cursor: pointer;
}

.footer {}