.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 80vh;
}

/* Left content */
.left-content {
  display: flex;
  padding-right: 25px;
}

.left-content-img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.left-content-img img {
  width: 500px;
  height: auto;
}
/* Two Contents */

.two-contents {
  display: block;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: fit-content;
}

/* Main content */
.main-right-content {
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: fit-content; */
  flex-direction: column;
  height:75vh;
}

.right-content {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  padding: 5px;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #FFFFFF;
  margin-top: 50px;
  width: 480px;
  height: 520px;
  border: 1px solid #333;

}

.login input {
  width: 75%;
  padding: 5px;
  height: 50px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.login input[type="button"] {
  background-color: #B2DFFC;
  color: white;
  margin-top: 10px;
  margin-bottom: 25px;
}

.login input[type="button"]:hover{
  cursor: pointer;
}

.login  {

  border: 1px solid #333;

}
.separator {
  position: relative;
}

.line{
  width: 268px;
  border-top:1px solid #dbdbdb;
  margin-bottom: 10px;
}

.login h2{
  position: absolute;
  text-transform: uppercase;
  color: #bbb;
  background-color: #fff;
  top: -7px;
  width: 50px;
  text-align: center;
  left: 105px;
  font-size: 18px;
}
.logo-instagram img{
  width: 250px;
  height: 100px;
  padding-bottom: 20px;
}
.facebook {
  display: flex;
  margin: 20px 0px 20px 0px;
}

.login .facebook img {
  width: 30px;
  height: 30px;
}


.Singup {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFFFFF;
  margin-top: 35px;
  padding: 25px;
  height: 100px;
  width: 480px;
  text-align: center;
  border: 1px solid #333;
  font-size: 20px;
  gap: 15px;
  }

.forgot-password {
  margin-top: 25px;
  color: rgb(57, 57, 174);
  font-size: 20px;
}


.apps {
  display: block;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 30px;
}

.apps h2 {
  margin-bottom: 20px;
}

.apps img {
  width: 165px;
  height: 55px;
  padding: 5px;
  cursor: pointer;
}

footer{ 
  display: flex; 
  align-items: center;
  height: 100px;
  align-self: last baseline;
  justify-content: center;
  /* position: absolute; */
  /* bottom: 12%; */
  width: fit-content;
  flex-wrap: wrap;
}

.footer-main{
  display: block;
  text-align: center;
}
.footer-main p{
  padding-top: 10px;
  font-size: 17px;
}

.list-content{
  gap: 15px;
  list-style: none;
  display: flex;
  align-items: center;
  font-size: 15px;
  text-align: center;
  margin-top: 10px;
  letter-spacing: .5px;
  width: fit-content;
  color:#8EAACD ;
}

